openapi: 3.0.1
info:
  title: Gemma RESTful API
  description: "This website documents the usage of the [Gemma RESTful API](https://gemma.msl.ubc.ca/rest/v2/).\
    \ Here you can find\nexample script usage of the API, as well as graphical interface\
    \ for each endpoint, with description of its\nparameters and the endpoint URL.\n\
    \nUse of this webpage and the Gemma Web services, including the REST API, is subject\
    \ to [these terms and conditions](https://pavlidislab.github.io/Gemma/terms.html).\n\
    Please read these in full before continuing to use this webpage or any other part\
    \ of the Gemma system.\n\nYou can [consult the CHANGELOG.md file](https://gemma.msl.ubc.ca/resources/restapidocs/CHANGELOG.md)\
    \ to view \nrelease notes and recent changes to the Gemma RESTful API.\n"
  termsOfService: https://pavlidislab.github.io/Gemma/terms.html
  contact:
    name: Pavlidis Lab Support
    url: https://pavlab.msl.ubc.ca/
    email: pavlab-support@msl.ubc.ca
  version: 2.7.4
servers:
- url: https://gemma.msl.ubc.ca/rest/v2
  description: Gemma
- url: https://dev.gemma.msl.ubc.ca/rest/v2
  description: Gemma (development server)
security:
- basicAuth: []
- cookieAuth: []
- {}
paths:
  /resultSets/count:
    get:
      summary: Count result sets matching the provided filter
      operationId: getNumberOfResultSets
      parameters:
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionAnalysisResultSet'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectLong'
  /resultSets/{resultSet}:
    get:
      summary: Retrieve a single analysis result set by its identifier
      operationId: getResultSet
      parameters:
      - name: resultSet
        in: path
        required: true
        schema:
          type: integer
          description: An expression analysis result set numerical identifier.
          format: int32
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject'
        "404":
          description: The analysis result set could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /resultSets/{resultSet_}:
    get:
      summary: Retrieve a single analysis result set by its identifier as a tab-separated
        values
      operationId: getResultSetAsTsv
      parameters:
      - name: resultSet_
        in: path
        required: true
        schema:
          type: integer
          description: An expression analysis result set numerical identifier.
          format: int32
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
              example: "# If you use this file for your research, please cite:\n#\
                \ Lim et al. (2021) Curation of over 10 000 transcriptomic studies\
                \ to enable data reuse.\n# Database, baab006 (doi:10.1093/database/baab006).\n\
                # Experimental factors: [name: genotype, values: [id: 7, characteristics:\
                \ [wild type genotype], id: 8, characteristics: [Mfi2 [mouse] antigen\
                \ p97 (melanoma associated) identified by monoclonal antibodies 133.2\
                \ and 96.5, Homozygous negative]]]\nid\tprobe_id\tprobe_name\tgene_id\t\
                gene_name\tgene_ncbi_id\tgene_official_symbol\tgene_official_name\t\
                pvalue\tcorrected_pvalue\trank\tcontrast_8_log2fc\tcontrast_8_tstat\t\
                contrast_8_pvalue\n2492126315\t86895\t1427283_at\t793757\tKmt2a\t\
                214162\tKmt2a\tlysine (K)-specific methyltransferase 2A\t1.652E-1\t\
                9.116E-1\t1.784E-1\t1.772E-1\t1.696E0\t1.652E-1\n2492126316\t87072\t\
                1427106_at\t721517\tZbtb3\t75291\tZbtb3\tzinc finger and BTB domain\
                \ containing 3\t8.961E-1\t9.863E-1\t9.086E-1\t4.574E-2\t1.391E-1\t\
                8.961E-1\n2492126313\t89962\t1424216_a_at\t555147\tPapola\t18789\t\
                Papola\tpoly (A) polymerase alpha\t4.174E-1\t9.183E-1\t4.544E-1\t\
                -1.627E-1\t-9.033E-1\t4.174E-1\n2492126314\t67610\t1446568_at\t\t\t\
                \t\t\t9.137E-1\t9.888E-1\t9.241E-1\t1.099E-1\t1.154E-1\t9.137E-1\n\
                2492126319\t66807\t1447371_at\t863526\t9430037G07Rik\t320692\t9430037G07Rik\t\
                RIKEN cDNA 9430037G07 gene\t8.41E-1\t9.763E-1\t8.614E-1\t6.666E-2\t\
                2.14E-1\t8.41E-1\n2492126320\t81508\t1432670_at\t\t\t\t\t\t9.086E-1\t\
                9.878E-1\t9.198E-1\t1.773E-1\t1.222E-1\t9.086E-1\n2492126317\t94081\t\
                1420084_at\t\t\t\t\t\t8.125E-1\t9.726E-1\t8.354E-1\t-1.836E-1\t-2.533E-1\t\
                8.125E-1\n2492126318\t59156\t1455033_at\t868095\tFam102b\t329739\t\
                Fam102b\tfamily with sequence similarity 102, member B\t3.26E-1\t\
                9.153E-1\t3.56E-1\t2.782E-1\t1.118E0\t3.26E-1\n2492126307\t86209\t\
                1427969_s_at\t699382\tZfp654\t72020\tZfp654\tzinc finger protein 654\t\
                4.24E-1\t9.198E-1\t4.608E-1\t-1.774E-1\t-8.894E-1\t4.24E-1"
        "404":
          description: The analysis result set could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /resultSets:
    get:
      summary: Retrieve all result sets matching the provided criteria
      operationId: getResultSets
      parameters:
      - name: datasets
        in: query
        explode: false
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical dataset identifier.
              format: int64
            - type: string
              description: A dataset short name.
      - name: databaseEntries
        in: query
        explode: false
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A database entry numerical identifier.
              format: int64
            - type: string
              description: A database entry name.
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionAnalysisResultSet'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionAnalysisResultSet'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject'
  /annotations/search:
    get:
      summary: Search for annotation tags
      operationId: searchAnnotations
      parameters:
      - name: query
        in: query
        description: A comma-delimited list of keywords to find annotations.
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
        "503":
          description: The search for annotations has timed out. It can generally
            be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After`
            header for the recommended delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /annotations/search/{query}:
    get:
      summary: Search for annotation tags
      description: This is deprecated in favour of passing `query` as a query parameter.
      operationId: searchAnnotationsByPathQuery
      parameters:
      - name: query
        in: path
        description: A comma-delimited list of keywords to find annotations.
        required: true
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListAnnotationSearchResultValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /annotations/search/datasets:
    get:
      summary: Retrieve datasets associated to an annotation tags search
      description: "This is deprecated in favour of the [/datasets](#/default/getDatasets)\
        \ endpoint. Use the `AND` operator to intersect the results of multiple queries."
      operationId: searchDatasets
      parameters:
      - name: query
        in: query
        description: A comma-delimited list of keywords to find annotations. Matching
          datasets for each query are intersected.
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
        "503":
          description: The search for annotations has timed out. It can generally
            be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After`
            header for the recommended delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /annotations/search/{query}/datasets:
    get:
      summary: Retrieve datasets associated to an annotation tags search
      description: This is deprecated in favour of passing `query` as a query parameter.
      operationId: searchDatasetsByQueryInPath
      parameters:
      - name: query
        in: path
        description: A comma-delimited list of keywords to find annotations. Matching
          datasets for each query are intersected.
        required: true
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /annotations/{taxon}/search/datasets:
    get:
      summary: Retrieve datasets within a given taxa associated to an annotation tags
        search
      description: "This is deprecated in favour of the [/datasets](#/default/getDatasets)\
        \ endpoint with a `query` parameter and a `filter` parameter with `taxon.id\
        \ = {taxon} or taxon.commonName = {taxon} or taxon.scientificName = {taxon}`\
        \ to restrict the taxon instead.  Use the `AND` operator to intersect the\
        \ results of multiple queries."
      operationId: searchTaxonDatasets
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: query
        in: query
        description: A comma-delimited list of keywords to find annotations. Matching
          datasets for each query are intersected.
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
        "503":
          description: The search for annotations has timed out. It can generally
            be resolved by reattempting the search 30 seconds later. Lookup the `Retry-After`
            header for the recommended delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /annotations/{taxon}/search/{query}/datasets:
    get:
      summary: Retrieve datasets within a given taxa associated to an annotation tags
        search
      description: This is deprecated in favour of passing `query` as a query parameter.
      operationId: searchTaxonDatasetsByQueryInPath
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: query
        in: path
        description: A comma-delimited list of keywords to find annotations. Matching
          datasets for each query are intersected.
        required: true
        explode: false
        schema:
          type: array
          description: A comma-delimited list of strings. The value may be compressed
            with gzip and encoded with base64.
          items:
            type: string
            default: ""
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
        "400":
          description: The search query is empty or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /datasets/{dataset}/annotations:
    get:
      summary: Retrieve the annotations of a dataset
      operationId: getDatasetAnnotations
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectSetAnnotationValueObject'
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/design:
    get:
      summary: Retrieve the design of a dataset
      operationId: getDatasetDesign
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{datasets}/expressions/differential:
    get:
      summary: Retrieve the expression levels of a set of datasets subject to a threshold
        on their differential expressions
      operationId: getDatasetDifferentialExpression
      parameters:
      - name: datasets
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical dataset identifier.
              format: int64
            - type: string
              description: A dataset short name.
      - name: diffExSet
        in: query
        schema:
          type: integer
          format: int64
      - name: threshold
        in: query
        schema:
          type: number
          format: double
          default: 1.0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 100
      - name: keepNonSpecific
        in: query
        schema:
          type: boolean
          default: false
      - name: consolidate
        in: query
        schema:
          type: string
          description: An option for gene expression level consolidation.
          enum:
          - pickmax
          - pickvar
          - average
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject'
  /datasets/{dataset}/analyses/differential:
    get:
      summary: Retrieve annotations and surface level stats for a dataset's differential
        analyses
      operationId: getDatasetDifferentialExpressionAnalyses
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListDifferentialExpressionAnalysisValueObject'
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/analyses/differential/resultSets:
    get:
      summary: Retrieve the result sets of all differential analyses of a dataset
      operationId: getDatasetDifferentialExpressionAnalysesResultSets
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        "302":
          description: "If the dataset is found, a redirection to the corresponding\
            \ getResultSets operation."
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/data:
    get:
      summary: Retrieve processed expression data of a dataset
      description: This endpoint is deprecated and getDatasetProcessedExpression()
        should be used instead.
      operationId: getDatasetExpression
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      - name: filter
        in: query
        schema:
          type: boolean
          default: false
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
        "204":
          description: The dataset expression matrix is empty.
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
      deprecated: true
  /datasets/{datasets}/expressions/genes/{genes}:
    get:
      summary: Retrieve the expression data matrix of a set of datasets and genes
      operationId: getDatasetExpressionForGenes
      parameters:
      - name: datasets
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical dataset identifier.
              format: int64
            - type: string
              description: A dataset short name.
      - name: genes
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: string
              description: An Ensembl gene identifier which typically starts with
                'ENSG'.
              externalDocs:
                url: https://www.ensembl.org/
            - type: string
              description: An NCBI gene identifier.
              externalDocs:
                url: https://www.ncbi.nlm.nih.gov/gene
            - type: string
              description: An official gene symbol approved by HGNC.
              externalDocs:
                url: https://www.genenames.org/
      - name: keepNonSpecific
        in: query
        schema:
          type: boolean
          default: false
      - name: consolidate
        in: query
        schema:
          type: string
          description: An option for gene expression level consolidation.
          enum:
          - pickmax
          - pickvar
          - average
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject'
  /datasets/{datasets}/expressions/pca:
    get:
      summary: Retrieve the principal components (PCA) of a set of datasets
      operationId: getDatasetExpressionPca
      parameters:
      - name: datasets
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical dataset identifier.
              format: int64
            - type: string
              description: A dataset short name.
      - name: component
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 100
      - name: keepNonSpecific
        in: query
        schema:
          type: boolean
          default: false
      - name: consolidate
        in: query
        schema:
          type: string
          description: An option for gene expression level consolidation.
          enum:
          - pickmax
          - pickvar
          - average
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListExperimentExpressionLevelsValueObject'
  /datasets/{dataset}/platforms:
    get:
      summary: Retrieve the platforms of a dataset
      operationId: getDatasetPlatforms
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListArrayDesignValueObject'
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/data/processed:
    get:
      summary: Retrieve processed expression data of a dataset
      operationId: getDatasetProcessedExpression
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
        "404":
          description: Either the dataset or the quantitation type do not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/quantitationTypes:
    get:
      summary: Retrieve quantitation types of a dataset
      operationId: getDatasetQuantitationTypes
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectSetQuantitationTypeValueObject'
  /datasets/{dataset}/data/raw:
    get:
      summary: Retrieve raw expression data of a dataset
      operationId: getDatasetRawExpression
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      - name: quantitationType
        in: query
        schema:
          oneOf:
          - type: integer
            description: A quantitation type ID.
            format: int64
          - type: string
            description: A quantitation type name.
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
        "404":
          description: Either the dataset or the quantitation type do not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/samples:
    get:
      summary: Retrieve the samples of a dataset
      operationId: getDatasetSamples
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListBioAssayValueObject'
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}/svd:
    get:
      summary: Retrieve the singular value decomposition (SVD) of a dataset expression
        data
      operationId: getDatasetSvd
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical dataset identifier.
            format: int64
          - type: string
            description: A dataset short name.
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectSimpleSVDValueObject'
        "404":
          description: The dataset does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets:
    get:
      summary: Retrieve all datasets
      operationId: getDatasets
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredAndPaginatedResponseDataObjectExpressionExperimentWithSearchResultValueObject'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/annotations:
    get:
      summary: Retrieve usage statistics of annotations among datasets matching the
        provided query and filter
      description: "Usage statistics are aggregated across experiment tags, samples\
        \ and factor values mentioned in the experimental design."
      operationId: getDatasetsAnnotationsUsageStatistics
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: exclude
        in: query
        description: List of fields to exclude from the payload. Only `parentTerms`
          can be excluded.
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "List of fields to exclude from the payload. If the payload\
            \ is a list of object, then the exclusion is applicable to all the listed\
            \ objects."
          items:
            type: string
      - name: limit
        in: query
        description: Maximum number of annotations to returned; capped at 5000.
        schema:
          maximum: 5000
          minimum: 1
          type: integer
          format: int64
      - name: minFrequency
        in: query
        description: "Minimum number of associated datasets to report an annotation.\
          \ If used, the limit will default to 5000."
        schema:
          type: integer
          format: int32
      - name: category
        in: query
        description: "A category URI to restrict reported annotations. If unspecified,\
          \ annotations from all categories are reported. If empty, uncategorized\
          \ terms are reported."
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitedResponseDataObjectAnnotationWithUsageStatisticsValueObject'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/{dataset}:
    get:
      summary: Retrieve datasets by their identifiers
      operationId: getDatasetsByIds
      parameters:
      - name: dataset
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical dataset identifier.
              format: int64
            - type: string
              description: A dataset short name.
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgExpressionExperiment'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
  /datasets/categories:
    get:
      summary: Retrieve usage statistics of categories among datasets matching the
        provided query and filter
      description: "Usage statistics are aggregated across experiment tags, samples\
        \ and factor values mentioned in the experimental design."
      operationId: getDatasetsCategoriesUsageStatistics
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredResponseDataObjectCategoryWithUsageStatisticsValueObject'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/platforms:
    get:
      summary: Retrieve usage statistics of platforms among datasets matching the
        provided query and filter
      description: "Usage statistics are aggregated across experiment tags, samples\
        \ and factor values mentioned in the experimental design."
      operationId: getDatasetsPlatformsUsageStatistics
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 50
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitedResponseDataObjectArrayDesignWithUsageStatisticsValueObject'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/taxa:
    get:
      summary: Retrieve taxa usage statistics for datasets matching the provided query
        and filter
      operationId: getDatasetsTaxaUsageStatistics
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriedAndFilteredResponseDataObjectTaxonWithUsageStatisticsValueObject'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /datasets/count:
    get:
      summary: Count datasets matching the provided query and filter
      operationId: getNumberOfDatasets
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectLong'
        "503":
          description: The search has timed out. This can only occur if the `search`
            parameter is provided. It can generally be resolved by reattempting the
            search 30 seconds later. Lookup the `Retry-After` header for the recommended
            delay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /genes/{gene}/goTerms:
    get:
      summary: Retrieve the GO terms associated to a gene
      operationId: getGeneGoTerms
      parameters:
      - name: gene
        in: path
        required: true
        schema:
          oneOf:
          - type: string
            description: An Ensembl gene identifier which typically starts with 'ENSG'.
            externalDocs:
              url: https://www.ensembl.org/
          - type: string
            description: An NCBI gene identifier.
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/gene
          - type: string
            description: An official gene symbol approved by HGNC.
            externalDocs:
              url: https://www.genenames.org/
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListGeneOntologyTermValueObject'
  /genes/{gene}/locations:
    get:
      summary: Retrieve the physical locations of a given gene
      operationId: getGeneLocations
      parameters:
      - name: gene
        in: path
        required: true
        schema:
          oneOf:
          - type: string
            description: An Ensembl gene identifier which typically starts with 'ENSG'.
            externalDocs:
              url: https://www.ensembl.org/
          - type: string
            description: An NCBI gene identifier.
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/gene
          - type: string
            description: An official gene symbol approved by HGNC.
            externalDocs:
              url: https://www.genenames.org/
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListPhysicalLocationValueObject'
  /genes/{gene}/probes:
    get:
      summary: Retrieve the probes associated to a genes across all platforms
      operationId: getGeneProbes
      parameters:
      - name: gene
        in: path
        required: true
        schema:
          oneOf:
          - type: string
            description: An Ensembl gene identifier which typically starts with 'ENSG'.
            externalDocs:
              url: https://www.ensembl.org/
          - type: string
            description: An NCBI gene identifier.
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/gene
          - type: string
            description: An official gene symbol approved by HGNC.
            externalDocs:
              url: https://www.genenames.org/
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectCompositeSequenceValueObject'
  /genes/{genes}:
    get:
      summary: Retrieve genes matching gene identifiers
      operationId: getGenes
      parameters:
      - name: genes
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: string
              description: An Ensembl gene identifier which typically starts with
                'ENSG'.
              externalDocs:
                url: https://www.ensembl.org/
            - type: string
              description: An NCBI gene identifier.
              externalDocs:
                url: https://www.ncbi.nlm.nih.gov/gene
            - type: string
              description: An official gene symbol approved by HGNC.
              externalDocs:
                url: https://www.genenames.org/
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListGeneValueObject'
  /platforms/count:
    get:
      summary: Count platforms matching the provided filter
      operationId: getNumberOfPlatforms
      parameters:
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgArrayDesign'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectLong'
  /platforms/{platform}/annotations:
    get:
      summary: Retrieve the annotations of a given platform
      operationId: getPlatformAnnotations
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      responses:
        default:
          content:
            text/tab-separated-values; charset=UTF-8:
              schema:
                type: string
                format: binary
  /platforms/{platform}/datasets:
    get:
      summary: Retrieve all experiments using a given platform
      operationId: getPlatformDatasets
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseDataObjectExpressionExperimentValueObject'
  /platforms/{platform}/elements/{probes}:
    get:
      summary: Retrieve the selected probes for a given platform
      operationId: getPlatformElement
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      - name: probes
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A composite sequence numerical identifier.
              format: int64
            - type: string
              description: A composite sequence name.
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectCompositeSequenceValueObject'
  /platforms/{platform}/elements/{probe}/genes:
    get:
      summary: Retrieve the genes associated to a probe in a given platform
      operationId: getPlatformElementGenes
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      - name: probe
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A composite sequence numerical identifier.
            format: int64
          - type: string
            description: A composite sequence name.
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectGeneValueObject'
  /platforms/{platform}/elements:
    get:
      summary: Retrieve the probes for a given platform
      operationId: getPlatformElements
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseDataObjectCompositeSequenceValueObject'
  /platforms:
    get:
      summary: Retrieve all platforms
      operationId: getPlatforms
      parameters:
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgArrayDesign'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgArrayDesign'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectArrayDesignValueObject'
  /platforms/{platform}:
    get:
      summary: Retrieve all platforms matching a set of platform identifiers
      operationId: getPlatformsByIds
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A platform numerical identifier.
              format: int64
            - type: string
              description: A platform short name.
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgArrayDesign'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgArrayDesign'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectArrayDesignValueObject'
  /:
    get:
      summary: Retrieve an object with basic API information
      description: The payload contains a list of featured external databases that
        Gemma uses under the `externalDatabases` field. Those are mainly genomic references
        and sources of gene annotations.
      operationId: getApiInfo
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectApiInfoValueObject'
  /search:
    get:
      summary: Search everything in Gemma
      operationId: search
      parameters:
      - name: query
        in: query
        schema:
          $ref: '#/components/schemas/QueryArg'
      - name: taxon
        in: query
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: platform
        in: query
        schema:
          oneOf:
          - type: integer
            description: A platform numerical identifier.
            format: int64
          - type: string
            description: A platform short name.
      - name: resultTypes
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - ubic.gemma.model.expression.experiment.ExpressionExperiment
            - ubic.gemma.model.genome.Gene
            - ubic.gemma.model.expression.BlacklistedEntity
            - ubic.gemma.model.expression.arrayDesign.ArrayDesign
            - ubic.gemma.model.analysis.expression.ExpressionExperimentSet
            - ubic.gemma.model.genome.gene.GeneSet
            - ubic.gemma.model.expression.designElement.CompositeSequence
            - ubic.gemma.model.genome.biosequence.BioSequence
            - ubic.gemma.model.common.description.BibliographicReference
            - ubic.gemma.model.association.phenotype.PhenotypeAssociation
      - name: limit
        in: query
        description: Maximum number of search results to return; capped at 2000 unless
          `resultObject` is excluded.
        schema:
          maximum: 2000
          minimum: 1
          type: integer
          format: int64
      - name: exclude
        in: query
        description: List of fields to exclude from the payload. Only `resultObject`
          is supported.
        schema:
          minItems: 1
          uniqueItems: true
          type: array
          description: "List of fields to exclude from the payload. If the payload\
            \ is a list of object, then the exclusion is applicable to all the listed\
            \ objects."
          items:
            type: string
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResultsResponseDataObject'
        "400":
          description: "Invalid search query, taxon, platform result type or exclusion\
            \ specification."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
        "503":
          description: The search timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorObject'
  /taxa/{taxon}/genes/{gene}/locations:
    get:
      summary: Retrieve physical locations for a given gene and taxon
      operationId: getGeneLocationsInTaxon
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: gene
        in: path
        required: true
        schema:
          oneOf:
          - type: string
            description: An Ensembl gene identifier which typically starts with 'ENSG'.
            externalDocs:
              url: https://www.ensembl.org/
          - type: string
            description: An NCBI gene identifier.
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/gene
          - type: string
            description: An official gene symbol approved by HGNC.
            externalDocs:
              url: https://www.genenames.org/
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListPhysicalLocationValueObject'
  /taxa:
    get:
      summary: Retrieve all available taxa
      operationId: getTaxa
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListTaxonValueObject'
  /taxa/{taxa}:
    get:
      summary: Retrieve taxa by their identifiers
      operationId: getTaxaByIds
      parameters:
      - name: taxa
        in: path
        required: true
        schema:
          type: array
          items:
            oneOf:
            - type: integer
              description: A numerical taxon identifier.
              format: int64
            - type: integer
              description: An NCBI taxon identifier.
              format: int64
              externalDocs:
                url: https://www.ncbi.nlm.nih.gov/taxonomy
            - type: string
              description: A taxon identifier that matches either its scientific or
                common name.
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListTaxonValueObject'
  /taxa/{taxon}/datasets:
    get:
      summary: Retrieve the datasets for a given taxon
      operationId: getTaxonDatasets
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: filter
        in: query
        schema:
          $ref: '#/components/schemas/FilterArgExpressionExperiment'
      - name: offset
        in: query
        schema:
          minimum: 0
          type: integer
          description: The offset of the first retrieved result.
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Limit the number of results retrieved.
          format: int32
          default: 20
      - name: sort
        in: query
        schema:
          $ref: '#/components/schemas/SortArgTaxon'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredAndPaginatedResponseDataObjectExpressionExperimentValueObject'
  /taxa/{taxon}/genes/{gene}:
    get:
      summary: Retrieve all genes in a given taxon
      operationId: getTaxonGenes
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: gene
        in: path
        required: true
        schema:
          oneOf:
          - type: string
            description: An Ensembl gene identifier which typically starts with 'ENSG'.
            externalDocs:
              url: https://www.ensembl.org/
          - type: string
            description: An NCBI gene identifier.
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/gene
          - type: string
            description: An official gene symbol approved by HGNC.
            externalDocs:
              url: https://www.genenames.org/
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListGeneValueObject'
  /taxa/{taxon}/chromosomes/{chromosome}/genes:
    get:
      summary: Retrieve genes overlapping a given region in a taxon
      operationId: getTaxonGenesOverlappingChromosome
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          oneOf:
          - type: integer
            description: A numerical taxon identifier.
            format: int64
          - type: integer
            description: An NCBI taxon identifier.
            format: int64
            externalDocs:
              url: https://www.ncbi.nlm.nih.gov/taxonomy
          - type: string
            description: A taxon identifier that matches either its scientific or
              common name.
      - name: chromosome
        in: path
        required: true
        schema:
          type: string
      - name: strand
        in: query
        schema:
          type: string
      - name: start
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: size
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataObjectListGeneValueObject'
components:
  schemas:
    ResponseDataObjectLong:
      type: object
      properties:
        data:
          type: integer
          format: int64
    FilterArgExpressionAnalysisResultSet:
      type: string
      description: |-
        Filter results by matching the expression. The exact syntax is described in the attached external documentation. The filter value may be compressed with gzip and encoded with base64.

        Available properties:

        - analysis.experimentAnalyzed.id `integer`
        - analysis.experimentAnalyzed.name `string`
        - analysis.id `integer`
        - analysis.numberOfElementsAnalyzed `integer`
        - analysis.resultSets.size `integer`
        - analysis.subsetFactorValue.characteristics.category `string`
        - analysis.subsetFactorValue.characteristics.categoryUri `string`
        - analysis.subsetFactorValue.characteristics.evidenceCode `string` (available values: IC, IDA, IEA, IEP, IGI, IMP, IPI, ISS, NAS, ND, RCA, TAS, NR, EXP, ISA, ISM, IGC, ISO, IIA, IBA, IBD, IKR, IRD, IMR, IED, IAGP, IPM, QTM, HDA, HEP, HGI, HMP, HTP, OTHER)
        - analysis.subsetFactorValue.characteristics.id `integer`
        - analysis.subsetFactorValue.characteristics.name `string`
        - analysis.subsetFactorValue.characteristics.size `integer`
        - analysis.subsetFactorValue.characteristics.value `string`
        - analysis.subsetFactorValue.characteristics.valueUri `string`
        - analysis.subsetFactorValue.id `integer`
        - baselineGroup.characteristics.category `string`
        - baselineGroup.characteristics.categoryUri `string`
        - baselineGroup.characteristics.evidenceCode `string` (available values: IC, IDA, IEA, IEP, IGI, IMP, IPI, ISS, NAS, ND, RCA, TAS, NR, EXP, ISA, ISM, IGC, ISO, IIA, IBA, IBD, IKR, IRD, IMR, IED, IAGP, IPM, QTM, HDA, HEP, HGI, HMP, HTP, OTHER)
        - baselineGroup.characteristics.id `integer`
        - baselineGroup.characteristics.name `string`
        - baselineGroup.characteristics.size `integer`
        - baselineGroup.characteristics.value `string`
        - baselineGroup.characteristics.valueUri `string`
        - baselineGroup.experimentalFactor.id `integer`
        - baselineGroup.experimentalFactor.name `string`
        - baselineGroup.experimentalFactor.type `string` (available values: continuous, categorical)
        - baselineGroup.id `integer`
        - baselineGroup.measurement.id `integer`
        - baselineGroup.measurement.kindCV `string` (available values: TIME, DISTANCE, TEMPERATURE, QUANTITY, MASS, VOLUME, CONC, OTHER, COUNT)
        - baselineGroup.measurement.otherKind `string`
        - baselineGroup.measurement.representation `string` (available values: DOUBLE, INT, LONG, CHAR, BOOLEAN, STRING, INTARRAY, DOUBLEARRAY, CHARARRAY, BOOLEANARRAY, STRINGARRAY)
        - baselineGroup.measurement.type `string` (available values: ABSOLUTE, CHANGE)
        - baselineGroup.measurement.value `string`
        - id `integer`
        - numberOfGenesTested `integer`
        - numberOfProbesTested `integer`
        - results.size `integer`
      externalDocs:
        url: https://gemma.msl.ubc.ca/resources/apidocs/ubic/gemma/rest/util/args/FilterArg.html
      x-gemma-filterable-properties:
      - name: analysis.experimentAnalyzed.id
        type: integer
      - name: analysis.experimentAnalyzed.name
        type: string
      - name: analysis.id
        type: integer
      - name: analysis.numberOfElementsAnalyzed
        type: integer
      - name: analysis.resultSets.size
        type: integer
      - name: analysis.subsetFactorValue.characteristics.category
        type: string
      - name: analysis.subsetFactorValue.characteristics.categoryUri
        type: string
      - name: analysis.subsetFactorValue.characteristics.evidenceCode
        type: string
        allowedValues:
        - value: IC
          label: IC
        - value: IDA
          label: IDA
        - value: IEA
          label: IEA
        - value: IEP
          label: IEP
        - value: IGI
          label: IGI
        - value: IMP
          label: IMP
        - value: IPI
          label: IPI
        - value: ISS
          label: ISS
        - value: NAS
          label: NAS
        - value: ND
          label: ND
        - value: RCA
          label: RCA
        - value: TAS
          label: TAS
        - value: NR
          label: NR
        - value: EXP
          label: EXP
        - value: ISA
          label: ISA
        - value: ISM
          label: ISM
        - value: IGC
          label: IGC
        - value: ISO
          label: ISO
        - value: IIA
          label: IIA
        - value: IBA
          label: IBA
        - value: IBD
          label: IBD
        - value: IKR
          label: IKR
        - value: IRD
          label: IRD
        - value: IMR
          label: IMR
        - value: IED
          label: IED
        - value: IAGP
          label: IAGP
        - value: IPM
          label: IPM
        - value: QTM
          label: QTM
        - value: HDA
          label: HDA
        - value: HEP
          label: HEP
        - value: HGI
          label: HGI
        - value: HMP
          label: HMP
        - value: HTP
          label: HTP
        - value: OTHER
          label: OTHER
      - name: analysis.subsetFactorValue.characteristics.id
        type: integer
      - name: analysis.subsetFactorValue.characteristics.name
        type: string
      - name: analysis.subsetFactorValue.characteristics.size
        type: integer
      - name: analysis.subsetFactorValue.characteristics.value
        type: string
      - name: analysis.subsetFactorValue.characteristics.valueUri
        type: string
      - name: analysis.subsetFactorValue.id
        type: integer
      - name: baselineGroup.characteristics.category
        type: string
      - name: baselineGroup.characteristics.categoryUri
        type: string
      - name: baselineGroup.characteristics.evidenceCode
        type: string
        allowedValues:
        - value: IC
          label: IC
        - value: IDA
          label: IDA
        - value: IEA
          label: IEA
        - value: IEP
          label: IEP
        - value: IGI
          label: IGI
        - value: IMP
          label: IMP
        - value: IPI
          label: IPI
        - value: ISS
          label: ISS
        - value: NAS
          label: NAS
        - value: ND
          label: ND
        - value: RCA
          label: RCA
        - value: TAS
          label: TAS
        - value: NR
          label: NR
        - value: EXP
          label: EXP
        - value: ISA
          label: ISA
        - value: ISM
          label: ISM
        - value: IGC
          label: IGC
        - value: ISO
          label: ISO
        - value: IIA
          label: IIA
        - value: IBA
          label: IBA
        - value: IBD
          label: IBD
        - value: IKR
          label: IKR
        - value: IRD
          label: IRD
        - value: IMR
          label: IMR
        - value: IED
          label: IED
        - value: IAGP
          label: IAGP
        - value: IPM
          label: IPM
        - value: QTM
          label: QTM
        - value: HDA
          label: HDA
        - value: HEP
          label: HEP
        - value: HGI
          label: HGI
        - value: HMP
          label: HMP
        - value: HTP
          label: HTP
        - value: OTHER
          label: OTHER
      - name: baselineGroup.characteristics.id
        type: integer
      - name: baselineGroup.characteristics.name
        type: string
      - name: baselineGroup.characteristics.size
        type: integer
      - name: baselineGroup.characteristics.value
        type: string
      - name: baselineGroup.characteristics.valueUri
        type: string
      - name: baselineGroup.experimentalFactor.id
        type: integer
      - name: baselineGroup.experimentalFactor.name
        type: string
      - name: baselineGroup.experimentalFactor.type
        type: string
        allowedValues:
        - value: continuous
          label: Continuous
        - value: categorical
          label: Categorical
      - name: baselineGroup.id
        type: integer
      - name: baselineGroup.measurement.id
        type: integer
      - name: baselineGroup.measurement.kindCV
        type: string
        allowedValues:
        - value: TIME
          label: Time
        - value: DISTANCE
          label: Distance
        - value: TEMPERATURE
          label: Temperature
        - value: QUANTITY
          label: Quantity
        - value: MASS
          label: Mass
        - value: VOLUME
          label: Volume
        - value: CONC
          label: Concentration
        - value: OTHER
          label: Other
        - value: COUNT
          label: Count
      - name: baselineGroup.measurement.otherKind
        type: string
      - name: baselineGroup.measurement.representation
        type: string
        allowedValues:
        - value: DOUBLE
          label: Double
        - value: INT
          label: Integer
        - value: LONG
          label: Long
        - value: CHAR
          label: Character
        - value: BOOLEAN
          label: Boolean
        - value: STRING
          label: String
        - value: INTARRAY
          label: Integer Array
        - value: DOUBLEARRAY
          label: Double Array
        - value: CHARARRAY
          label: Character Array
        - value: BOOLEANARRAY
          label: Boolean Array
        - value: STRINGARRAY
          label: String Array
      - name: baselineGroup.measurement.type
        type: string
        allowedValues:
        - value: ABSOLUTE
          label: Absolute
        - value: CHANGE
          label: Change
      - name: baselineGroup.measurement.value
        type: string
      - name: id
        type: integer
      - name: numberOfGenesTested
        type: integer
      - name: numberOfProbesTested
        type: integer
      - name: results.size
        type: integer
    ResponseErrorObject:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/WellComposedErrorBody'
        apiVersion:
          type: string
    WellComposedErrorBody:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
    CharacteristicValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          type: string
        categoryUri:
          type: string
        value:
          type: string
        valueUri:
          type: string
        valueId:
          type: string
    ContrastResultValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        pvalue:
          type: number
          format: double
        coefficient:
          type: number
          format: double
        logFoldChange:
          type: number
          format: double
        factorValue:
          $ref: '#/components/schemas/FactorValueBasicValueObject'
        secondFactorValue:
          $ref: '#/components/schemas/FactorValueBasicValueObject'
        tstat:
          type: number
          format: double
    DatabaseEntryValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        accession:
          type: string
        externalDatabase:
          $ref: '#/components/schemas/ExternalDatabaseValueObject'
    DiffExResultSetSummaryValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        arrayDesignsUsed:
          type: array
          items:
            type: integer
            format: int64
        baselineGroup:
          $ref: '#/components/schemas/FactorValueValueObject'
        experimentalFactors:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentalFactorValueObject'
        numberOfGenesAnalyzed:
          type: integer
          format: int32
        numberOfProbesAnalyzed:
          type: integer
          format: int32
        threshold:
          type: number
          format: double
        numberOfDiffExpressedProbes:
          type: integer
          format: int32
        upregulatedCount:
          type: integer
          format: int32
        downregulatedCount:
          type: integer
          format: int32
        numberOfUpregulatedProbes:
          type: integer
          format: int32
        numberOfDownregulatedProbes:
          type: integer
          format: int32
        qvalue:
          type: number
          format: double
    DifferentialExpressionAnalysisResultSetValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        analysis:
          $ref: '#/components/schemas/DifferentialExpressionAnalysisValueObject'
        experimentalFactors:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentalFactorValueObject'
        baselineGroup:
          $ref: '#/components/schemas/FactorValueBasicValueObject'
        results:
          type: array
          items:
            $ref: '#/components/schemas/DifferentialExpressionAnalysisResultValueObject'
    DifferentialExpressionAnalysisResultValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        probeId:
          type: integer
          format: int64
        probeName:
          type: string
        genes:
          type: array
          items:
            $ref: '#/components/schemas/GeneValueObject'
        correctedPvalue:
          type: number
          format: double
        rank:
          type: number
          format: double
        contrasts:
          type: array
          items:
            $ref: '#/components/schemas/ContrastResultValueObject'
        pvalue:
          type: number
          format: double
    DifferentialExpressionAnalysisValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        factorValuesUsed:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/FactorValueValueObject'
        resultSets:
          type: array
          items:
            $ref: '#/components/schemas/DiffExResultSetSummaryValueObject'
        arrayDesignsUsed:
          type: array
          items:
            type: integer
            format: int64
        bioAssaySetId:
          type: integer
          format: int64
        sourceExperiment:
          type: integer
          format: int64
        subsetFactor:
          $ref: '#/components/schemas/ExperimentalFactorValueObject'
        subsetFactorId:
          type: integer
          format: int64
        subsetFactorValue:
          $ref: '#/components/schemas/FactorValueValueObject'
        factorValuesUsedByExperimentalFactorId:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/FactorValueValueObject'
        isSubset:
          type: boolean
    ExperimentalFactorValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          type: string
        categoryUri:
          type: string
        description:
          type: string
        factorValues:
          type: string
          description: "This is deprecated, use `values` directly instead."
          deprecated: true
        name:
          type: string
        type:
          type: string
          enum:
          - categorical
          - continuous
        values:
          type: array
          items:
            $ref: '#/components/schemas/FactorValueValueObject'
    ExternalDatabaseValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        uri:
          type: string
        releaseVersion:
          type: string
        releaseUrl:
          type: string
          format: url
        lastUpdated:
          type: string
          format: date-time
        externalDatabases:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ExternalDatabaseValueObject'
    FactorValueBasicValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        ontologyId:
          type: string
        experimentalFactorId:
          type: integer
          format: int64
        experimentalFactorCategory:
          $ref: '#/components/schemas/CharacteristicValueObject'
        measurement:
          $ref: '#/components/schemas/MeasurementValueObject'
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicValueObject'
        statements:
          type: array
          items:
            $ref: '#/components/schemas/StatementValueObject'
        value:
          type: string
          description: Use `summary` if you need a human-readable representation of
            this factor value or lookup the `characteristics` bag.
          deprecated: true
        summary:
          type: string
    FactorValueValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        ontologyId:
          type: string
        experimentalFactorId:
          type: integer
          format: int64
        experimentalFactorCategory:
          $ref: '#/components/schemas/CharacteristicValueObject'
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicValueObject'
        statements:
          type: array
          items:
            $ref: '#/components/schemas/StatementValueObject'
        summary:
          type: string
        factorId:
          type: integer
          description: Use `experimentalFactorId` instead.
          format: int64
          deprecated: true
        charId:
          type: integer
          description: Use `measurement.id` or `characteristics.id` instead.
          format: int64
          deprecated: true
        category:
          type: string
          description: Use experimentalFactorCategory.category instead.
          deprecated: true
        categoryUri:
          type: string
          description: Use experimentalFactorCategory.categoryUri instead.
          deprecated: true
        description:
          type: string
          description: This property is never filled nor used; use `summary` if you
            need a human-readable representation of this factor value.
          deprecated: true
        factorValue:
          type: string
          description: Use `summary` if you need a human-readable representation of
            this factor value or lookup the `characteristics` bag.
          deprecated: true
        measurement:
          $ref: '#/components/schemas/MeasurementValueObject'
        isMeasurement:
          type: boolean
          description: Check if a `measurement` key exists instead.
          deprecated: true
    GeneValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        aliases:
          uniqueItems: true
          type: array
          items:
            type: string
        multifunctionalityRank:
          type: number
          format: double
        ncbiId:
          type: integer
          format: int32
        ensemblId:
          type: string
        accessions:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DatabaseEntryValueObject'
        officialName:
          type: string
        officialSymbol:
          type: string
        taxon:
          $ref: '#/components/schemas/TaxonValueObject'
    MeasurementValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        value:
          type: string
        unit:
          type: string
        type:
          type: string
          enum:
          - ABSOLUTE
          - CHANGE
        representation:
          type: string
          enum:
          - DOUBLE
          - INT
          - LONG
          - CHAR
          - BOOLEAN
          - STRING
          - INTARRAY
          - DOUBLEARRAY
          - CHARARRAY
          - BOOLEANARRAY
          - STRINGARRAY
    ResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DifferentialExpressionAnalysisResultSetValueObject'
    StatementValueObject:
      type: object
      properties:
        category:
          type: string
        categoryUri:
          type: string
        subject:
          type: string
        subjectUri:
          type: string
        predicate:
          type: string
        predicateUri:
          type: string
        object:
          type: string
        objectUri:
          type: string
        subjectId:
          type: string
        objectId:
          type: string
    TaxonValueObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
        scientificName:
          type: string
        commonName:
          type: string
        ncbiId:
          type: integer
          format: int32
        externalDatabase:
          $ref: '#/components/schemas/ExternalDatabaseValueObject'
    FilteredAndPaginatedResponseDataObjectDifferentialExpressionAnalysisResultSetValueObject:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DifferentialExpressionAnalysisResultSetValueObject'
        filter:
          type: string
        groupBy:
          type: array
          items:
            type: string
        sort:
          $ref: '#/components/schemas/SortValueObject'
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
    SortValueObject:
      type: object
      properties:
        orderBy:
          type: string
        direction:
          type: string
    DatasetArg:
      oneOf:
      - type: integer
        description: A numerical dataset identifier.
        format: int64
      - type: string
        description: A dataset short name.
    DatabaseEntryArg:
      oneOf:
      - type: integer
        description: A database entry numerical identifier.
        format: int64
      - type: string
        description: A database entry name.
    SortArgExpressionAnalysisResultSet:
      pattern: ^(\+|-?)(\w+)$
      type: string
      description: |-
        Order results by the given property and direction. The '+' sign indicate ascending order whereas the '-' indicate descending.

        Available properties:

        - analysis.experimentAnalyzed.id `integer`
        - analysis.experimentAnalyzed.name `string`
        - analysis.id `integer`
        - analysis.numberOfElementsAnalyzed `integer`
        - analysis.subsetFactorValue.characteristics.category `string`
        - analysis.subsetFactorValue.characteristics.categoryUri `string`
        - analysis.subsetFactorValue.characteristics.evidenceCode `string` (available values: IC, IDA, IEA, IEP, IGI, IMP, IPI, ISS, NAS, ND, RCA, TAS, NR, EXP, ISA, ISM, IGC, ISO, IIA, IBA, IBD, IKR, IRD, IMR, IED, IAGP, IPM, QTM, HDA, HEP, HGI, HMP, HTP, OTHER)
        - analysis.subsetFactorValue.characteristics.id `integer`
        - analysis.subsetFactorValue.characteristics.name `string`
        - analysis.subsetFactorValue.characteristics.value `string`
        - analysis.subsetFactorValue.characteristics.valueUri `string`
        - analysis.subsetFactorValue.id `integer`
        - baselineGroup.characteristics.category `string`
        - baselineGroup.characteristics.categoryUri `string`
        - baselineGroup.characteristics.evidenceCode `string` (available values: IC, IDA, IEA, IEP, IGI, IMP, IPI, ISS, NAS, ND, RCA, TAS, NR, EXP, ISA, ISM, IGC, ISO, IIA, IBA, IBD, IKR, IRD, IMR, IED, IAGP, IPM, QTM, HDA, HEP, HGI, HMP, HTP, OTHER)
        - baselineGroup.characteristics.id `integer`
        - baselineGroup.characteristics.name `string`
        - baselineGroup.characteristics.value `string`
        - baselineGroup.characteristics.valueUri `string`
        - baselineGroup.experimentalFactor.id `integer`
        - baselineGroup.experimentalFactor.name `string`
        - baselineGroup.experimentalFactor.type `string` (available values: continuous, categorical)
        - baselineGroup.id `integer`
        - baselineGroup.measurement.id `integer`
        - baselineGroup.measurement.kindCV `string` (available values: TIME, DISTANCE, TEMPERATURE, QUANTITY, MASS, VOLUME, CONC, OTHER, COUNT)
        - baselineGroup.measurement.otherKind `string`
        - baselineGroup.measurement.representation `string` (available values: DOUBLE, INT, LONG, CHAR, BOOLEAN, STRING, INTARRAY, DOUBLEARRAY, CHARARRAY, BOOLEANARRAY, STRINGARRAY)
        - baselineGroup.measurement.type `string` (available values: ABSOLUTE, CHANGE)
        - baselineGroup.measurement.value `string`
        - id `integer`
        - numberOfGenesTested `integer`
        - numberOfProbesTested `integer`
      x-gemma-filterable-properties:
      - name: analysis.experimentAnalyzed.id
        type: integer
      - name: analysis.experimentAnalyzed.name
        type: string
      - name: analysis.id
        type: integer
      - name: analysis.numberOfElementsAnalyzed
        type: integer
      - name: analysis.subsetFactorValue.characteristics.category
        type: string
      - name: analysis.subsetFactorValue.characteristics.categoryUri
        type: string
      - name: analysis.subsetFactorValue.characteristics.evidenceCode
        type: string
        allowedValues:
        - value: IC
          label: IC
        - value: IDA
          label: IDA
        - value: IEA
          label: IEA
        - value: IEP
          label: IEP
        - value: IGI
          label: IGI
        - value: IMP
          label: IMP
        - value: IPI
          label: IPI
        - value: ISS
          label: ISS
        - value: NAS
          label: NAS
        - value: ND
          label: ND
        - value: RCA
          label: RCA
        - value: TAS
          label: TAS
        - value: NR
          label: NR
        - value: EXP
          label: EXP
        - value: ISA
          label: ISA
        - value: ISM
          label: ISM
        - value: IGC
          label: IGC
        - value: ISO
          label: ISO
        - value: IIA
          label: IIA
        - value: IBA
          label: IBA
        - value: IBD
          label: IBD
        - value: IKR
          label: IKR
        - value: IRD
          label: IRD
        - value: IMR
          label: IMR
        - value: IED
          label: IED
        - value: IAGP
          label: IAGP
        - value: IPM
          label: IPM
        - value: QTM
          label: QTM
        - value: HDA
          label: HDA
        - value: HEP
          label: HEP
        - value: HGI
          label: HGI
        - value: HMP
          label: HMP
        - value: HTP
          label: HTP
        - value: OTHER
          label: OTHER
      - name: analysis.subsetFactorValue.characteristics.id
        type: integer
      - name: analysis.subsetFactorValue.characteristics.name
        type: string
      - name: analysis.subsetFactorValue.characteristics.value
        type: string
      - name: analysis.subsetFactorValue.characteristics.valueUri
        type: string
      - name: analysis.subsetFactorValue.id
        type: integer
      - name: baselineGroup.characteristics.category
        type: string
      - name: baselineGroup.characteristics.categoryUri
        type: string
      - name: baselineGroup.characteristics.evidenceCode
        type: string
        allowedValues:
        - value: IC
          label: IC
        - value: IDA
          label: IDA
        - value: IEA
          label: IEA
        - value: IEP
          label: IEP
        - value: IGI
          label: IGI
        - value: IMP
          label: IMP
        - value: IPI
          label: IPI
        - value: ISS
          label: ISS
        - value: NAS
          label: NAS
        - value: ND
          label: ND
        - value: RCA
          label: RCA
        - value: TAS
          label: TAS
        - value: NR
          label: NR
        - value: EXP
          label: EXP
        - value: ISA
          label: ISA
        - value: ISM
          label: ISM
        - value: IGC
          label: IGC
        - value: ISO
          label: ISO
        - value: IIA
          label: IIA
        - value: IBA
          label: IBA
        - value: IBD
          label: IBD
        - value: IKR
          label: IKR
        - value: IRD
          label: IRD
        - value: IMR
          label: IMR
        - value: IED
          label: IED
        - value: IAGP
          label: IAGP
        - value: IPM
          label: IPM
        - value: QTM
          label: QTM
        - value: HDA
          label: HDA
        - value: HEP
          label: HEP
        - value: HGI
          label: HGI
        - value: HMP
          label: HMP
        - value: HTP
          label: HTP
        - value: OTHER
          label: OTHER
      - name: baselineGroup.characteristics.id
        type: integer
      - name: baselineGroup.characteristics.name
        type: string
      - name: baselineGroup.characteristics.value
        type: string
      - name: baselineGroup.characteristics.valueUri
        type: string
      - name: baselineGroup.experimentalFactor.id
        type: integer
      - name: baselineGroup.experimentalFactor.name
        type: string
      - name: baselineGroup.experimentalFactor.type
        type: string
        allowedValues:
        - value: continuous
          label: Continuous
        - value: categorical
          label: Categorical
      - name: baselineGroup.id
        type: integer
      - name: baselineGroup.measurement.id
        type: integer
      - name: baselineGroup.measurement.kindCV
        type: string
[...]
